@model IEnumerable<MyCars.Models.TypeModel>

@{
    ViewBag.Title = "GetItems";
}

<select id="model" name="Model" class="btn btn-default">
    @foreach (var item in Model)
    {
        <option value="@item.Id">@item.Name</option>
    }
</select>